* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/peakpx.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.main-head {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.496);
    backdrop-filter: blur(20px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-head h3 {
    font-size: 2em;
    font-weight: 600;
    padding-left: 30px;
    transition: 0.5s;
}

.main-head h3:hover {
    text-shadow: 2px 2px 4px aqua;
}

ul {
    display: flex;
    padding-right: 40px;
    gap: 30px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

li a:hover {
    color: aqua;
}

#icon {
    display: none;
}

.container {
    background-color: rgba(0, 0, 0, 0.236);
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 70px;
}

.card {
    color: azure;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(10px);
    padding: 40px;
    width: 600px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.282);
    border-radius: 1rem;
}

.card h1 {
    font-size: 40px;
    padding: 20px;
}

.card p {
    font-size: 18px;
    line-height: 1.8rem;
}

#about {
    background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

#menu-toggle {
    display: none;
}

@media (max-width: 426px) {

    .main-head h3 {
        font-size: 1.5em;
    }

    .card {
        width: calc(100% - 40px);
    }

    nav ul {
        display: none;
    }

    #menu-toggle:checked ~ ul {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        right: 0;
        width: 35%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.264);
        backdrop-filter: blur(30px);
    }
    
    #icon {
        display: flex;
        margin-right: 30px;
    }

}
